In [46]:
%pip install -q pandas numpy

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [47]:
import pandas as pd
import numpy as np

In [48]:
data = pd.read_csv('logs.csv', encoding='utf-8')
data.head

<bound method NDFrame.head of            user_id   source       email  purchase
0       7141786820    other         NaN         0
1       5644686960    email  c129aa540a         0
2       1914055396  context         NaN         0
3       4099355752    other         NaN         0
4       6032477554  context         NaN         1
...            ...      ...         ...       ...
199995  8714621942    other         NaN         0
199996  6064948744  context         NaN         1
199997  9210683879  context         NaN         0
199998  1629959686    other         NaN         1
199999  2089329795    other         NaN         0

[200000 rows x 4 columns]>

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

In [50]:
data.isna().sum()

user_id          0
source        1674
email       186047
purchase         0
dtype: int64

In [51]:
data[data['source'].isna()]

           user_id source       email  purchase
22      1397217221    NaN  79ac569f0b         0
49      5062457902    NaN  9ddce3a861         0
171     6724868284    NaN  c0e48c7cf8         0
258     3221384063    NaN  7fe8da1823         0
379     7515782311    NaN  462462af10         0
...            ...    ...         ...       ...
199342  3439213943    NaN  7edda4e2a4         0
199661  9473123762    NaN  3535509f51         0
199689   722485056    NaN  470ffa3800         0
199709  5950023506    NaN  0fb749d485         0
199758  3747926428    NaN  604850216f         0

[1674 rows x 4 columns]

In [52]:
data['source'].value_counts()

source
other      133834
context     52032
email       12279
undef         181
Name: count, dtype: int64

In [53]:
data['source'] = data['source'].replace('None', None)
data['source'] = data['source'].replace('undef', None)

In [54]:
data['purchase'] = data['purchase'].astype(bool)

In [55]:
data['purchase'].value_counts()

purchase
False    187897
True      12103
Name: count, dtype: int64

In [56]:
data_gb_id=data.groupby('user_id')['purchase'].sum()

In [57]:
data_gb_id.sort_values(ascending=False)

user_id
7370058986    4
3708073012    3
5189168982    3
922485345     3
463130195     3
             ..
3552682911    0
3552629301    0
3552349983    0
3552156723    0
9999792842    0
Name: purchase, Length: 86571, dtype: int64

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198145 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  bool
dtypes: bool(1), int64(1), object(2)
memory usage: 4.8+ MB

In [59]:
total_installs=data.shape[0]
total_purch=data['purchase'].sum()
total_conv = total_purch/total_installs

In [65]:
avoid_n = 0
uniq_installs = data_gb_id.shape[0]
uniq_purch = (
    pd.DataFrame(data_gb_id)
    .query('purchase != @avoid_n')
    .shape[0]
    )
uniq_conv = total_purch / total_installs

In [68]:
print(f'конверсия: {total_conv:.2%}')
print(f'конверсия уник: {uniq_conv:.2%}')

конверсия: 6.05%
конверсия уник: 6.05%